<div class="max-w-2xl mx-auto bg-surface rounded-lg shadow p-6 mt-8">
  <h1 class="title title-lg text-content font-bold mb-6"><%= t("book_clubs.new.title") %></h1>
  <%= render partial: "form" %>
</div>
