name: CI

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  test:
    runs-on: self-hosted
    env:
      RAILS_ENV: test
    permissions:
      contents: read
    defaults:
      run:
        working-directory: ./backend
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Ruby dependencies
        run: bundle install

      - name: Setup database
        run: bin/rails db:test:prepare

      - name: Run tests
        run: bin/rails test
